* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy: rgb(22, 33, 62);
  --navy-light: rgb(15, 52, 96);
  --white: rgb(255, 255, 255);

  --open-sans: 'Open Sans', sans-serif;
  --inter-tight: 'Inter Tight', sans-serif;
  --gemunu-libre: 'Gemunu Libre', sans-serif;
}

body {
  width: 100vw;
  background-color: var(--navy-light);
  font-size: 14px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  margin: 50px 0;
  font-size: 4rem;
  color: var(--white);
  font-family: var(--gemunu-libre);
}

.section__subtitle {
  margin-bottom: 50px;
  font-size: 2rem;
  color: var(--white);
  font-family: var(--inter-tight);
  font-weight: 400;
}

.cards {
  display: flex;
  gap: 20px;
}

.cards__pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navy);
  width: 200px;
  border-radius: 15px;
  position: relative;
}

.cards__pet:hover {
  cursor: pointer;
  background-color: black;
  transition: all 0.3s;
}

.cards__pet__name {
  margin: 15px 0;
  color: var(--white);
  font-family: var(--open-sans);
  font-size: 1.2rem;
}

.cards__pet__image {
  width: 120px;
  margin-bottom: 15px;
}

.cards__pet__selection {
  display: none;
}

.pet__selection__btn {
  margin-top: 50px;
  width: 250px;
  padding: 15px 0;
  border-radius: 20px;
  background-color: var(--navy);
  color: var(--white);
  font-size: 1.5rem;
  font-family: var(--gemunu-libre);
  letter-spacing: 1px;
  border: none;
}

.pet__selection__btn:hover {
  cursor: pointer;
  background-color: green;
  transition: all 0.2s;
}

.attacks {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.attacks__btn {
  width: 200px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--navy);
  color: var(--white);
  font-size: 1rem;
}

.attacks__btn:hover {
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.combat {
  width: 300px;
  background: #EEEEEE;
  padding: 40px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.combat__messages {
  font-family: var(--inter-tight);
  font-size: 1rem;
  font-weight: 500;
}

.restart__btn {
  margin-top: 20px;
  width: 150px;
  padding: 10px 0;
  border-radius: 20px;
  background-color: var(--navy);
  color: var(--white);
  font-size: 1.2rem;
  font-family: var(--gemunu-libre);
  letter-spacing: 1px;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.restart__btn:hover {
  cursor: pointer;
  background-color: green;
  transition: all 0.2s;
}

.restart__icon {
  width: 30px;
}